.sidebar {
  background-color: #0E0B20;
  padding: 20px;
  width: 40px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  margin-bottom: 20px;
  position: relative;
}

.sidebar-list li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.sidebar-list li .icon-name {
  display: none;
  margin-left: 10px;
}

.sidebar.expanded li .icon-name {
  display: block;
}

.expand-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 40px;
  height: 40px;
}

.dropdown-toggle i {
  color: #fff;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  z-index: 999;
  display: none;
  padding: 0;
  margin: 0;
  background-color: #0E0B20;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.dropdown-item:hover {
  background-color: #1E1A35;
}
